body {
    margin: 0;
    font-size: 20px;
    background-image: url('https://img.freepik.com/free-photo/dark-blue-product-background_53876-92801.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    line-height: 1.6;
    padding: 20px;
}

.header {
    background-image: url('HeaderSchool2.png');
    padding: 50px;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: auto;
}

.content {
    padding: 16px;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container .content {
  bottom: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
